# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your PlanetScale database.
DB_HOST='127.0.0.1'
DB_NAME='meztli_db'
DB_USERNAME='meztli_db_usr'
DB_PASSWORD='meztli_db_psw'

S3_HOST='127.0.0.1'
S3_PORT='9000'
S3_USERNAME='meztli_s3_usr'
S3_PASSWORD='meztli_s3_psw'
S3_BUCKET='meztli-s3-bkt' # The bucket name must not have underscores
S3_REGION='us-east-1'
